/*
-------------------TEXTO:
color: cor do texto
font-style: define o estilo do texto. Pode ser normal, italic ou oblique
font-wight: define o peso do texto. Pode ser bormal, bold, bolder, lighter e de 100 a 900
font-size: define o tamanho do texto. Valores em px ou em
line-height define a altura da linha do texto. Valores em px ou em
font-family define a família tipográfica
atributo font: italic bold 14px/20px Helvetica, Arial;
text-ident: indenta a primeira linha do parágrafo
text-decoration: decora o texto. Valores: underline, overline, line-through
text-shadow: coloca sombra no texto. Valores: horizontal, vertical, blur, cor
withe-space: define se o texto quebra ou não. Valores: nowrap, normal
word-spacing: define o espaçamento entre palavras. Pode ser em px ou em
letter-spacing: define o tracking. Pode ser em px ou em
-------------------LISTA:
list-style-type: define o estilo do marcador da lista. Valores: circle, square, disc
list-style-position: define a posição do marcador. Valores: inside, outside
list-style-image: substitui o marcador por uma imagem. Valor: url da imagem
list-style: none remove os marcadores
-------------------------
*em é uma unidade relativa. 1em equivale ao tamanho padrão de fonte do dispositivo
    browsers de computadores geralmente tem padrão de 16px
-------------------------
*/

div{
    margin: 40px auto;
    width: 400px;
    background: #eee;
    padding: 10px;
}

p{
    color: #000;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Times New Roman", Arial, Georgia;
    /*font: italic bold 14px/20px Helvetica, Arial;*/
    text-align: left;
    text-indent: 40px;
    text-decoration: none;
    text-shadow: 1px 1px #3f3;
    white-space: normal;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}