body{
    background-color: #000;
    background-image: url(esporte-1.jpg);
    height: 5000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: url(esporte-4.jpeg) no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 10px #000;
}

/*
background-attatchment: define se a imagem é fixa. Valores: fixed, scroll
background-position: posiciona a imagem. Valores: center center, left top, right bottom
background-size: define o tamanho da imagem. Valores: cover, px, %
------------------------------------------------------------------------------------------------------------------
Pode ser reduzido a: background #000(cor) url(...) no-repeat(bg-repeat) fixed(bg-attatchment_) center(bg-position)
------------------------------------------------------------------------------------------------------------------
*/
